{% comment %}
  Renders a product card for the mega menu.

  Accepts:
  - product: {Object} Product (required)

  Usage:
  {% render 'mega-menu-product-card', product: product %}
{% endcomment %}

<div class="mega-menu__featured-product">
  <a href="{{ product.url }}" class="mega-menu__product-link">
    <div class="mega-menu__product-image">
      {% if product.featured_image != blank %}
        <img
          src="{{ product.featured_image | image_url: width: 250, height: 250, crop: 'center' }}"
          alt="{{ product.title | escape }}"
          loading="lazy"
          width="120"
          height="120"
        >
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <h4 class="mega-menu__product-title">{{ product.title }}</h4>
    {% comment %}
      <div class="mega-menu__product-price">
        {% if product.compare_at_price > product.price %}
          <span class="mega-menu__price--sale">{{ product.price | money }}</span>
          <s class="mega-menu__price--regular">{{ product.compare_at_price | money }}</s>
        {% else %}
          <span class="mega-menu__price">{{ product.price | money }}</span>
        {% endif %}
      </div>
    {% endcomment %}
  </a>
  <a href="{{ product.url }}" class="mega-menu__shop-now-button">
    {{ 'products.product.add_to_cart' | t }}
  </a>
</div>
